html {
  font-family: "museo-sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
}

body {
  color: #1D1D1D;
  font-size: 0.9em;
}
@media only screen and (min-width: 767px) {
  body {
    font-size: 0.95em;
  }
}
@media only screen and (min-width: 1155px) {
  body {
    font-size: 1em;
  }
}

a {
  text-decoration: none;
  color: #1D1D1D;
}
a:visited:not(.button):not(.pill-button):not(.button-link):not(.disable-button) {
  color: #1D1D1D;
}

p {
  margin-top: 0;
  color: rgba(29, 29, 29, 0.87);
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  line-height: 1.2;
}

.on {
  line-height: 2.42em;
  z-index: 2;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font-size: 1em;
}

h1 {
  font-size: 2.289em;
}

h2 {
  font-size: 1.83075em;
}

h3 {
  font-size: 1.71rem;
}

h4 {
  font-size: 1.23975em;
}

h5 {
  font-size: 1.17225em;
}

h6 {
  font-size: 0.9375em;
}

@media only screen and (min-width: 767px) {
  h1 {
    font-size: 2.5942em;
  }

  h2 {
    font-size: 2.07485em;
  }

  h3 {
    font-size: 1.938rem;
  }

  h4 {
    font-size: 1.40505em;
  }

  h5 {
    font-size: 1.32855em;
  }

  h6 {
    font-size: 1.0625em;
  }
}
@media only screen and (min-width: 1155px) {
  h1 {
    font-size: 3.052em;
  }

  h2 {
    font-size: 2.441em;
  }

  h3 {
    font-size: 2.28rem;
  }

  h4 {
    font-size: 1.653em;
  }

  h5 {
    font-size: 1.563em;
  }

  h6 {
    font-size: 1.25em;
  }
}
.coat {
  display: flex;
  flex-wrap: wrap;
}
.coat .block {
  width: 100%;
}

.block.small-1 {
  flex: 0 0 8.3333333333%;
}

.block.small-2 {
  flex: 0 0 16.6666666667%;
}

.block.small-3 {
  flex: 0 0 25%;
}

.block.small-4 {
  flex: 0 0 33.3333333333%;
}

.block.small-5 {
  flex: 0 0 41.6666666667%;
}

.block.small-6 {
  flex: 0 0 50%;
}

.block.small-7 {
  flex: 0 0 58.3333333333%;
}

.block.small-8 {
  flex: 0 0 66.6666666667%;
}

.block.small-9 {
  flex: 0 0 75%;
}

.block.small-10 {
  flex: 0 0 83.3333333333%;
}

.block.small-11 {
  flex: 0 0 91.6666666667%;
}

.block.small-12 {
  flex: 0 0 100%;
}

@media only screen and (min-width: 767px) {
  .block.medium-1 {
    flex: 0 0 8.3333333333%;
  }

  .block.medium-2 {
    flex: 0 0 16.6666666667%;
  }

  .block.medium-3 {
    flex: 0 0 25%;
  }

  .block.medium-4 {
    flex: 0 0 33.3333333333%;
  }

  .block.medium-5 {
    flex: 0 0 41.6666666667%;
  }

  .block.medium-6 {
    flex: 0 0 50%;
  }

  .block.medium-7 {
    flex: 0 0 58.3333333333%;
  }

  .block.medium-8 {
    flex: 0 0 66.6666666667%;
  }

  .block.medium-9 {
    flex: 0 0 75%;
  }

  .block.medium-10 {
    flex: 0 0 83.3333333333%;
  }

  .block.medium-11 {
    flex: 0 0 91.6666666667%;
  }

  .block.medium-12 {
    flex: 0 0 100%;
  }
}
@media only screen and (min-width: 1155px) {
  .block.large-1 {
    flex: 0 0 8.3333333333%;
  }

  .block.large-2 {
    flex: 0 0 16.6666666667%;
  }

  .block.large-3 {
    flex: 0 0 25%;
  }

  .block.large-4 {
    flex: 0 0 33.3333333333%;
  }

  .block.large-5 {
    flex: 0 0 41.6666666667%;
  }

  .block.large-6 {
    flex: 0 0 50%;
  }

  .block.large-7 {
    flex: 0 0 58.3333333333%;
  }

  .block.large-8 {
    flex: 0 0 66.6666666667%;
  }

  .block.large-9 {
    flex: 0 0 75%;
  }

  .block.large-10 {
    flex: 0 0 83.3333333333%;
  }

  .block.large-11 {
    flex: 0 0 91.6666666667%;
  }

  .block.large-12 {
    flex: 0 0 100%;
  }
}
.disable-button, .button-link, .pill-button, .button {
  font-weight: 600;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 2rem;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border: 2px solid;
  border-color: #1c3917;
  transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
  -moz-transition: 300ms background cubic-bezier(0.4, 0, 0.6, 1);
}

.button {
  color: #ffffff;
  background-color: #1c3917;
}
.button:hover {
  color: #1c3917;
  background-color: #ffffff;
}

.pill-button {
  color: #1c3917;
  border-color: #1c3917;
}
.pill-button:hover {
  background-color: #1c3917;
  color: #ffffff;
}

.button-link {
  border: 0;
  color: #1D1D1D;
  text-decoration: underline;
}

.disable-button {
  background-color: #408135;
  color: #2e5d26;
  border-color: #2e5d26;
}

input.button {
  cursor: pointer;
  color: #fff !important;
  background: #1D1D1D !important;
  border: 0 !important;
  box-sizing: border-box !important;
  padding: 0 18px !important;
  display: inline-block !important;
  margin: 0 !important;
}

#Top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 44px;
  max-height: 44px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 40px 0px;
}
#Top-bar .page-nav-content {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  z-index: 2;
  background: #ffffff;
}
@media only screen and (max-width: 767px) {
  #Top-bar .page-nav-content {
    padding: 2px 24px;
  }
}

.nav-list {
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 44px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 767px) {
  .nav-list {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.nav-list .item {
  line-height: 2.7;
  letter-spacing: -0.01em;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 10px;
  height: 44px;
  opacity: 1;
  background: no-repeat;
  text-decoration: none;
  white-space: nowrap;
  outline-offset: -7px;
}
.nav-list .item.logo {
  z-index: 4;
}
.nav-list .item.menu-toggle-button {
  z-index: 4;
  background: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 90%;
  max-width: 360px;
  padding: 4em 3.5em;
  background: #ffffff;
  overflow-y: auto;
  transform: translateZ(0);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.07, 0.23, 0.34, 1);
}
.menu .ul {
  padding-bottom: 2em;
  padding-top: 2.9em;
}
.menu .title {
  margin-bottom: 30px;
}
.menu li {
  display: block;
  padding: 1em 0;
  font-weight: bolder;
  font-size: 1em;
  text-decoration: none;
  transform: translateZ(0);
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menu li:hover {
  opacity: 0.7;
}

.open .menu {
  transform: translateX(0);
  box-shadow: rgba(45, 45, 45, 0.05) 2px 2px 2px, rgba(49, 49, 49, 0.05) 4px 4px 4px, rgba(42, 42, 42, 0.05) 8px 8px 8px, rgba(32, 32, 32, 0.05) 16px 16px 16px, rgba(49, 49, 49, 0.05) 32px 32px 32px, rgba(35, 35, 35, 0.05) 64px 64px 64px;
}
.open .menu-overley {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
  z-index: 3;
  cursor: pointer;
}
.open .glyphsSprite.menu {
  background-position: -121px -24px;
}

body {
  margin: 0;
  min-width: 320px;
}

main {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.page {
  padding-top: 75px;
}

article, aside, footer, header, nav, main, section, summary, figure, figcaption {
  display: block;
}

.keep {
  position: relative;
  height: 100vh;
}

*::selection {
  color: #ffffff;
  background: #101010;
}

img {
  max-width: 100%;
  height: auto;
}

.post-container {
  max-width: 740px;
  margin: 0 auto;
}
.post-container .post-thumbnail {
  text-align: center;
}
.post-container .post-title {
  margin-top: 30px;
}
.post-container .post-title, .post-container .post-content, .post-container .post-meta, .post-container .post-excerpt, .post-container .post-comments {
  padding-left: 20px;
  padding-right: 20px;
}
.post-container .post-title h1, .post-container .post-content h1, .post-container .post-meta h1, .post-container .post-excerpt h1, .post-container .post-comments h1 {
  margin-top: 0;
}
.post-container .post-content {
  padding-top: 30px;
  font-size: 18px;
  line-height: 28px;
}
.post-container .post-content a {
  box-shadow: inset 0 -3px 0 #408135;
}
.post-container .post-meta li {
  color: #b8b8b8;
}

.author-name {
  text-transform: uppercase;
}

.category-single-post a {
  box-shadow: inset 0 -15px 0 #D6F351;
  font-weight: 300;
  font-size: 1.563em;
}

.copyright {
  text-align: center;
  padding: 30px;
}

.glyphsSprite {
  background-image: url("");
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .glyphsSprite {
    background-image: url("");
    background-size: 265px 260px;
  }
}
.glyphsSprite.after {
  margin-left: 0.3em;
}
.glyphsSprite.before {
  margin-right: 0.3em;
}
.glyphsSprite.logo {
  background-position: 0 0;
  width: 200px;
  height: 24px;
}
.glyphsSprite.hamburger {
  background-position: -204px 0;
}
.glyphsSprite.play {
  background-position: -48px -48px;
  width: 96px;
  height: 96px;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.glyphsSprite.twitter {
  background-position: 0 -24px;
}

.card {
  position: relative;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out, opacity 0.2s ease-out;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.card h4 {
  margin: 0;
}
.card .card-img {
  display: block;
  position: relative;
}
.card .card-content {
  padding: 30px 15px 20px 15px;
}
.card:hover {
  opacity: 1 !important;
  box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
  transform: translate(0, -4px);
  z-index: 999;
}
.card.video .card-img {
  padding: 10px;
}
.card.video .card-content {
  position: absolute;
  bottom: 0;
}
.card .card-subhero:after {
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(3, 25, 41, 0) 0, #1D1D1D 100%);
  top: 0;
  bottom: 0;
  width: 100%;
  content: "";
}
.card .card-subhero .content {
  z-index: 1;
  position: relative;
}

ul.feed {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-flow: row dense;
  grid-gap: 1.9vw;
  padding-bottom: 50px;
}
ul.feed li {
  box-sizing: border-box;
}
ul.hero {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  padding: 0 25px;
}
@media only screen and (min-width: 767px) {
  ul.hero .card {
    min-height: 374px;
  }
}

.feed-list {
  padding: 50px 0;
}
.feed-list li {
  padding-bottom: 20px;
}
.feed-list li h1, .feed-list li h2, .feed-list li h3, .feed-list li h4 {
  margin: 0;
}
.feed-list li .category-tag {
  background: #1D1D1D;
  color: #ffffff;
  padding: 2px 15px;
}
.feed-list li .card-content {
  padding-top: 0;
}

#sidebar .follow-buttons {
  display: inline-block;
  padding-bottom: 20px;
}
#sidebar .button {
  margin-bottom: 10px;
  width: 100%;
  display: block;
  text-align: center;
}

.sidebar-feed-list li {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #EBEBEB;
}
.sidebar-feed-list li .time {
  color: #6c6c6c;
  font-weight: 400;
  text-align: right;
}

.pad {
  padding: 50px 10%;
}
.pad.aire {
  padding: 100px 10%;
}

@media only screen and (max-width: 767px) {
  .pad-mobile {
    padding: 0 10%;
  }
}
.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.dark {
  color: #ffffff !important;
}

.inputer {
  position: relative;
}
.inputer label {
  color: #ababab;
  position: absolute;
  left: 0.7em;
  top: 1em;
  transition-duration: 0.2s;
}
.inputer input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
  background-color: #e6e6e6;
  box-sizing: border-box;
  box-shadow: none;
  color: #1D1D1D;
  font-family: inherit;
  height: 56px;
  padding: 8px 10px;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
}
.inputer input:focus {
  border-color: #EBEBEB;
  background: #EBEBEB;
  outline: none;
}
.inputer input:focus ~ label {
  color: #1c3917;
  font-size: 0.512em !important;
}
.inputer textarea {
  width: 100%;
  border: 0;
  background-color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  color: #1D1D1D;
  font-family: inherit;
  height: 106px;
  padding: 8px 10px;
  padding: 0.5rem 0.625rem;
  font-size: 1rem;
  margin-bottom: 30px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
}
.inputer textarea:focus {
  border-color: #EBEBEB;
  background: #ffffff;
  box-shadow: rgba(45, 45, 45, 0.05) 0px 2px 2px, rgba(49, 49, 49, 0.05) 0px 4px 4px, rgba(42, 42, 42, 0.05) 0px 8px 8px, rgba(32, 32, 32, 0.05) 0px 16px 16px, rgba(49, 49, 49, 0.05) 0px 32px 32px, rgba(35, 35, 35, 0.05) 0px 64px 64px;
}

input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.code-block::after {
  content: "Publicidad";
  text-transform: uppercase;
  text-align: center;
  display: block;
  top: calc(100% + 10px);
  width: 100%;
  color: #999;
  letter-spacing: 2px;
  font-size: 12px;
  z-index: 1;
  margin-top: 10px;
}

.code-block > div {
  margin: 8px auto;
  text-align: center;
  display: block;
  clear: both;
  border: solid 1px #1D1D1D;
}

/*# sourceMappingURL=style.css.map */
