body
    margin: 0
    min-width: 320px

main 
    position: relative
    max-width: 1600px
    margin: 0 auto

.page
    padding-top: 75px

article, aside, footer, header, nav, main, section, summary, figure, figcaption 
    display: block

.keep
    position: relative
    height: 100vh

*
    &::selection
        color: $dark
        background: darken($root, 5%)
    
img
    max-width: 100%
    height: auto

.wp-caption
    width: auto!important

.post-container
    max-width: 740px
    margin: 0 auto
    .post-thumbnail
        text-align: center
    .post-title
        margin-top: 30px
    .post-title, .post-content, .post-meta, .post-excerpt, .post-comments
        padding-left: 20px
        padding-right: 20px
        h1
            margin-top: 0
    .post-content
        padding-top: 30px
        font-size: 18px
        line-height: 28px
        a
            box-shadow: inset 0 -3px 0 $base-color
    .post-meta
        li
            color: darken($realse, 20%)

.author-name
    text-transform: uppercase

.category-single-post
    a
        box-shadow: inset 0 -15px 0 #D6F351
        font-weight: 300
        font-size: $visual-scale-h5

.trend-point
    margin: 0 10px