ul
    &.feed
        display: grid
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))
        grid-auto-flow: row dense
        grid-gap: 1.9vw
        padding-bottom: 50px
        li
            box-sizing: border-box
    &.hero
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr))
        .card
            @media only screen and (min-width: $small-breakpoint)
                min-height: 570px
            
        

    
.feed-list
    padding: 50px 0
    li
        padding-bottom: 20px
        h1, h2, h3, h4
            margin: 0
        .category-tag
            background: $root
            color: $dark
            padding: 2px 15px
        .card-content
            padding-top: 0

#sidebar
    .follow-buttons
        display: inline-block
        padding-bottom: 20px
    .button
        margin-bottom: 10px
        width: 100%
        display: block
        text-align: center
