.pad
    padding: 50px 10%
    &.aire
        padding: 100px 10%

.mlr10
    padding: 0 10%

.smushi
    width: 90%
    margin: 0 auto

.plr25
    padding: 25px

@media only screen and (max-width: $small-breakpoint)
    .pad-mobile
        padding: 0 10%

.player
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%)

.dark
    color: $dark!important

.video-container
    position: relative
    padding-bottom: 56.25%
    height: 0
    overflow: hidden
    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

.q-line
    max-width: 15%
    position: relative
    margin: 0
    padding: 0
    vertical-align: top
    top: 12px


.shadowpurple
    margin: 30px
    box-shadow: -14px 15px 0px 0px #6F1FF4

.shadowblack
    margin: 30px
    box-shadow: -14px 15px 0px 0px #000

@media only screen and (min-width: $large-breakpoint)
    .hide-large
        display: none!important
    
@media only screen and (max-width: $large-breakpoint)
    .hide-small
        display: none!important
